<h1>{{recipeHbs.title}}</h1>
<p>Level of Difficulty: {{recipeHbs.level}}</p>
<p>Type of Cuisine: {{recipeHbs.cuisine}}</p>
<p>Type of Dish: {{recipeHbs.dishType}}</p>
<p>Prep Time: {{recipeHbs.duration}}</p>
<img src="{{recipeHbs.image}}" alt="{{recipeHbs.title}}">
<br>
<h2>Recipe by: {{recipeHbs.creator.name}}</h2>