{{#each recipeHbs}}
    <h1>{{title}}</h1>
    <a href="/recipes/detail/{{id}}">Learn more</a>
    {{!-- <p>{{level}}</p>
    <p>{{cuisine}}</p>
    <p>{{duration}}</p> --}}
    <br>
    {{!-- <p>{{}}</p>
    <p>{{}}</p> --}}
{{/each}}